.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  background-color: #ffe63b;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  animation: wiggle 0.5s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
