.top-image-errorpage{
  background-image: url("../images/nebula2.jpg");
  height: 1280px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:  fixed;
  background-position: center;
}

.title-errorpage {
  font-size: 60px;
  color: whitesmoke;
  text-align: center;
  padding-top: 300px;

}