* { 
  box-sizing: border-box;
}


.footer-title {
  font-size: 2rem;
}

.footer {
  background-color: black;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.footer a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.footer li.active {
  background-color: black;
}

.footer li:hover {
  color: blue;
}

.footer-icons {
  display: flex;
  align-items: center;

}

.footer-icon-up {
  display: flex;
  align-items: center;
  padding-left: 2rem;

}

.rocket {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rect.btn {
  stroke: #fff;
  fill: #fff;
  fill-opacity: 0;
  stroke-opacity: 0;
}